/*reset*/
*{
	margin: 0px;
	padding: 0px;
}

body
{
	margin: 0px;
	padding: 0px;
	background-color: #000;
	background-image: url('images/Koala.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.container
{
	width: 960px;
min-height: 1200px;
margin: auto auto;
background-color: #888;
border-radius: 30px 0px 30px 0px;
}

.myheading{
	font-size: 30px;
	color: #ffccdd;
	border-right: 3px solid #aa0099;
}

.row{
	min-height: 1px;
}

.box{
	width: 220px;
	min-height: 220px;
	background-color: #22ccff;
	float: left;
	margin: 5px;
	padding: 5px;
	border-radius: 0px 20px 20px 20px;
}

.clear{
	clear: both;
}

.row{
	min-height: 1px;
}

.hr{
	border-bottom : 1px groove #909090;
}

.col100{
	width: 100%;
	min-height: 50px; float: left;
}

.col50{
	width: 47%;
	min-height: 50px; float: left;
}

.col75{
	width: 73%;
	min-height: 50px; float: left;
}

.col25{
	width: 23%;
	min-height: 50px;
	float: left;
}

.banner{
	background-image: url(images/banner.jpg);
	height: 150px;
	width: 960px;
	background-repeat: no-repeat;
}

.highlight img{
border-radius: 0px 20px 0px 20px;
opacity: 1;
}

.highlight img:hover{
	opacity: 0.7;
	border-bottom: 3px groove #ccddcc;
	border-right: 3px groove #ccddcc;
}

.social{
	position: fixed;
	right: 0px;
	top: 300px;
	z-index: 9999;
	width: 50px;
	height: 190px;
	background-color: #ff0000;
}

.social i{
	font-size: 35px;
	margin: 5px;
	color: #ffffff;

}

.bannermenufix{
	position: fixed;
	z-index: 9999;
}

.scrollable{
	position: relative;
	top: 205px;
	z-index: 9998
}

.menu{
	background-color: #025963;

}

.menu ul{
	list-style-type: none;
	float: right;
	padding-top: 10px;
}

.menu ul li{
	display: inline;
	color: #ffffff;
	padding-left: 20px;
}

@media(max-width: 768px)
{
.container
{
	width: 750px;
}
}

@media(max-width: 480px)
{
.container
{
	width: 450px;
}
}